.campfire-option {
    margin-right: 10px;
    padding: 5px;

    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    border: 1px solid rgba(224, 224, 224, 1.0);
    border-radius: 10px;

    line-height: 35px;
    white-space: nowrap;
    cursor: pointer;
}

.campfire-selected-option {
    margin-right: 10px;
    padding: 5px;

    color: rgba(34, 147,  81, 1.0);
    border: 1px solid rgba(34, 147,  81, 0.3);
    border-radius: 10px;

    line-height: 35px;
    white-space: nowrap;
}